* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    padding: 3%;
}

.im {
    width: 50%;

}

img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}

.pg {
    width: 500px;
    text-align: justify;
    margin-bottom: 30px;
}

.orange_color {
    color: orangered;
}

a {
    background-image: linear-gradient(orangered, rgb(163, 155, 47));
    text-decoration: none;

    padding: 10px 40px;
    border-radius: 5px;
    color: antiquewhite;
}

a:hover {
    background: orange;
}

.develop {
    background: rgb(223, 217, 217);
    width: 40%;
    padding: 30px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.281) 10px 10px 40px;
    border-left: rgb(28, 7, 122) 5px solid;
}

.im img {
    margin-left: 400px;
}

footer {
    text-align: center;
}